@use "sass:meta";
@use "mixins";

.mt-12 {
  @include mixins.mt(12);

  &\:not-first {
    @include mixins.mt(12);

    &:first-of-type {
      margin-top: revert;
    }
  }
}

.pt-12 {
  @include mixins.pt(12);
}

.mt-8 {
  @include mixins.mt(8);

  &\:not-first {
    @include mixins.mt(8);

    &:first-of-type {
      margin-top: revert;
    }
  }
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  @include mixins.spaceY(2);
}

.w-auto {
  width: auto;
}

@include meta.load-css("md");
@include meta.load-css("lg");
@include meta.load-css("xl");
