:root {
  --dark-text-color: rgb(156, 163, 175);
  --light-text-color: rgb(107, 114, 128);
  --purple-text-color-600: rgb(126, 58, 242);
  --purple-text-color-500: rgb(144, 97, 249);
  --bg-gray-600: rgb(75, 85, 99);
  --bg-gray-700: rgb(55, 65, 81);
  --green-background: rgb(22, 90, 46);
  --green-text: rgb(22, 163, 74);
}
