/* =================================================================
   XL BREAKPOINT UTILITIES (1280px+)
   
   Uses Tailwind CSS v4 @apply directive.
   ================================================================= */

@layer utilities {
  @media screen and (min-width: 1280px) {
    .xl\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }
  }
}
