<section class="section-primary">
  <div
    class="container-page-header lg:grid-cols-12"
  >
    <div class="place-center">
      <h1
        class="max-w-2xl heading-hero"
      >
        {{ "app_title" | transloco }}
      </h1>
      <p
        class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
      >
        <span
          [innerHTML]="
            'service_description'
              | transloco
                : {
                    serverLink:
                      '<a href=&quot;https://github.com/Haidra-Org/AI-Horde&quot; target=&quot;_blank&quot;>' +
                      ('service_description.serverLink' | transloco) +
                      '</a>',
                    imageWorkerLink:
                      '<a href=&quot;https://github.com/Haidra-Org/horde-worker-reGen&quot; target=&quot;_blank&quot;>' +
                      ('service_description.imageWorkerLink' | transloco) +
                      '</a>',
                    textWorkerLink:
                      '<a href=&quot;https://github.com/Haidra-Org/AI-Horde-Worker&quot; target=&quot;_blank&quot;>' +
                      ('service_description.textWorkerLink' | transloco) +
                      '</a>',
                    haidraLink:
                      '<a href=&quot;https://haidra.net/&quot; target=&quot;_blank&quot;>' +
                      ('service_description.haidraLink' | transloco) +
                      '</a>',
                    joinHordeLink:
                      '<a href=&quot;https://github.com/Haidra-Org/AI-Horde/blob/main/README_StableHorde.md#joining-the-horde&quot; target=&quot;_blank&quot;>' +
                      ('service_description.joinHordeLink' | transloco) +
                      '</a>',
                  }
          "
        ></span>
      </p>
      <p
        class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
      >
        <span
          [innerHTML]="
            'more_information'
              | transloco
                : {
                    faqLink:
                      '<a href=&quot;' +
                      faqLink +
                      '&quot;>' +
                      ('more_information.faqLink' | transloco) +
                      '</a>',
                    haidraLink:
                      '<a href=&quot;https://haidra.net/&quot; target=&quot;_blank&quot;>haidra.net</a>',
                    developerBlogLink:
                      '<a href=&quot;https://dbzer0.com/&quot; target=&quot;_blank&quot;>' +
                      ('more_information.developerBlogLink' | transloco) +
                      '</a>',
                  }
          "
        ></span>
      </p>
    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
      <img
        ngSrc="assets/img/front-image.png"
        alt="hero image"
        height="582"
        width="760"
        priority
      />
    </div>
  </div>
</section>
