<div
  class="toggle-checkbox-container"
  [class.toggle-checkbox--unset]="triState() && isNull()"
>
  <label class="toggle-switch" for="input{{ random() }}">
    <input
      type="checkbox"
      id="input{{ random() }}"
      [checked]="isChecked()"
      [disabled]="disabled()"
      (click)="onCheckboxClick($event)"
      (change)="!triState() ? onInputChange(input.checked) : null"
      (blur)="onBlur()"
      #input
    />
    <div
      class="toggle-switch-track"
      [class.toggle-switch-track--null]="triState() && isNull()"
    ></div>
    <div
      class="toggle-switch-thumb"
      [class.toggle-switch-thumb--null]="triState() && isNull()"
    ></div>
    <span class="checkbox-label">{{ description() }}</span>
    @if (triState()) {
      <span class="toggle-unset-badge" [class.toggle-unset-badge--hidden]="!isNull()">{{ 'styles.form.unset' | transloco }}</span>
    }
    <ng-content />
  </label>
</div>
