<section class="bg-white dark:bg-gray-900">
  <div class="container-content-sm">
    <div class="grid-items">
      <div class="text-secondary sm:text-lg">
        <h2 class="mb-4 heading-section">
          {{ "homepage_guis.title" | transloco }}
        </h2>
        <div class="card card-bg-primary">
          <div class="p-6">
            <p class="text-gray-700 dark:text-gray-300 mb-6">
              {{ "homepage_guis.description" | transloco }}
            </p>
            <a href="/guis-and-tools" class="btn-purple inline-block">
              {{ "homepage_guis.view_all_guis" | transloco }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
