<section class="section-primary">
  <div
    class="container-page-header"
  >
    <div class="place-center">
      <h1
        class="heading-hero"
      >
        <ng-container *transloco="let t">
          {{ t("transfer.title") }}
        </ng-container>
      </h1>
    </div>
  </div>
</section>

<section class="section-secondary">
  <div
    class="container-spaced"
  >
    <div class="grid-items">
      <div class="text-secondary-lg">
        <p class="mb-6">
          <ng-container *transloco="let t">
            <!-- <transloco key="transfer.visit_old" [params]="{oldUrl: '/transfer'}" /> -->
            {{ t("transfer.visit_old_pre") }}
            <a
              href="/transfer"
              class="link"
              >{{ t("transfer.visit_old_link_text") }}</a
            >
            <!-- ... and a trailing period-->
            .
          </ng-container>
        </p>
        <form
          class="max-w-sm mx-auto"
          [formGroup]="form"
          (ngSubmit)="transfer()"
        >
          <div class="mb-2">
            <label
              for="source_api_key"
              class="form-label"
              >{{ "transfer.source_api_key" | transloco }}</label
            >
            <input
              formControlName="apiKey"
              type="text"
              id="source_api_key"
              class="form-input"
              required
              [placeholder]="'transfer.source_api_key.description' | transloco"
            />
          </div>
          @if (form.value.apiKeyValidated === false) {
            <p class="mb-1 text-error">
              <small>{{ "invalid_api_key" | transloco }}</small>
            </p>
          }
          @if (currentUser()) {
            <p class="mb-1">
              <small>{{
                "current_user" | transloco: { user: currentUser()!.username }
              }}</small>
            </p>
          }

          <div class="mb-5">
            <app-toggle-checkbox
              [description]="'transfer.source_api_key.remember' | transloco"
              formControlName="remember"
            />
          </div>

          <div
            [class.mb-1]="educatorAccounts()"
            [class.mb-5]="!educatorAccounts()"
          >
            <label
              for="target_user"
              class="form-label"
              >{{ "transfer.target_user" | transloco }}</label
            >
            <input
              formControlName="targetUser"
              type="text"
              id="target_user"
              class="form-input"
              required
              [placeholder]="
                'transfer.target_user.description'
                  | transloco: { exampleUser: exampleUser() }
              "
            />
          </div>
          @if (educatorAccounts()) {
            <div
              class="text-primary"
              [class.mb-5]="form.value.targetUserValidated !== false"
              [class.mb-1]="form.value.targetUserValidated === false"
            >
              <p class="mb-1">
                <small
                  >{{ "transfer.donate" | transloco
                  }}<sup
                    ><a
                      routerLink="/transfer-v2"
                      fragment="note1"
                      class="text-blue-600 dark:text-green-400"
                      >1</a
                    ></sup
                  ></small
                >
              </p>

              <select
                formControlName="educatorAccount"
                class="form-input"
              >
                @for (user of educatorAccounts(); track user.id) {
                  <option [value]="null">
                    {{ "option.empty" | transloco }}
                  </option>
                  <option [value]="user.id">
                    {{ user.username }} ({{
                      "transfer.account.kudos_amount"
                        | transloco
                          : { amountFormatted: user.kudos | formatNumber }
                    }})
                  </option>
                }
              </select>
            </div>
          }
          @if (form.value.targetUserValidated === false) {
            <p class="mb-5 text-error">
              <small>{{ "invalid_target_user" | transloco }}</small>
            </p>
          }

          <div
            [class.mb-5]="form.value.kudosAmountValidated !== false"
            [class.mb-1]="form.value.kudosAmountValidated === false"
          >
            <label
              for="kudos_amount"
              class="form-label"
              >{{ "transfer.kudos_amount" | transloco }}</label
            >
            <input
              formControlName="kudosAmount"
              type="number"
              min="1"
              id="kudos_amount"
              class="form-input"
              required
              [placeholder]="
                'transfer.kudos_amount.description'
                  | transloco
                    : {
                        user:
                          form.value.targetUser ||
                          ('transfer.kudos_amount.description.user_placeholder'
                            | transloco),
                      }
              "
            />
          </div>
          @if (form.value.kudosAmountValidated === false) {
            <p class="mb-5 text-error">
              <small>{{ "transfer.too_many_kudos" | transloco }}</small>
            </p>
          }

          @if (sentSuccessfully() !== null) {
            @if (sentSuccessfully()) {
              <p class="mb-5 text-success">
                {{ "transfer.success" | transloco }}
              </p>
            } @else {
              <p class="mb-5 text-error">{{ "transfer.error" | transloco }}</p>
            }
          }
          <button
            [disabled]="!form.valid"
            [class.cursor-not-allowed]="!form.valid"
            [class.bg-gray-600]="!form.valid"
            [class.text-gray-500]="!form.valid"
            [class.bg-blue-700]="form.valid"
            [class.dark:bg-blue-600]="form.valid"
            [class.text-white]="form.valid"
            type="submit"
            class="hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Submit
          </button>
        </form>

        <p id="note1" class="mt-6" [class.active]="fragment() === 'note1'">
          <sup>1</sup>
          {{ "educators.explanation" | transloco }}
        </p>
      </div>
    </div>
  </div>
</section>
