<section class="section-primary homepage-section homepage-section--sponsors">
  <div class="container-content-minimal">
    <h2 class="mb-3 heading-section-lg" scrollReveal>Sponsors</h2>
    <p class="sponsor-description" scrollReveal>
      Funded by donations from the public, and NLnet / NGI0 Core (Next
      Generation Internet).
      <br />
      Run by
      <a
        href="https://haidra.net"
        target="_blank"
        rel="noreferrer noopener"
        class="link external-link"
        >Haidra</a
      >, a community-based volunteer-run non-profit.
      <a routerLink="/mission" class="link">{{
        "homepage.sponsors.mission_link" | transloco
      }}</a>
    </p>
    <div class="sponsor-grid" scrollReveal>
      <a
        href="https://nlnet.nl/project/AI-Horde/"
        target="_blank"
        rel="noreferrer noopener"
        class="flex items-center lg:justify-center"
      >
        <inline-svg href="assets/img/nlnet.svg" class="sponsor-svg" />
      </a>
    </div>
  </div>
</section>
