<section class="section-primary">
  <div class="container-content">
    <h2 class="mb-4 heading-section-lg">Sponsors</h2>
    <div
      class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 sm:grid-cols-3 lg:grid-cols-6 dark:text-gray-400"
    >
      <a
        href="https://nlnet.nl/project/AI-Horde/"
        target="_blank"
        class="flex items-center lg:justify-center"
      >
        <inline-svg href="assets/img/nlnet.svg" class="sponsor-svg" />
      </a>
    </div>
  </div>
</section>
