<section class="section-secondary">
  <div class="container-content">
    <div class="grid-items">
      <div class="text-secondary-lg">
        <h2
          class="mb-5 heading-section-lg"
        >
          {{ "quickstart" | transloco }}
        </h2>

        <p
          class="mb-4"
          [innerHTML]="'quickstart.register_account' | transloco"
        ></p>
        <ul class="space-y-2 underline-links">
          <li class="flex space-x-3">
            <inline-svg
              href="assets/img/li-checkbox.svg"
              class="icon-sm"
            />
            <span
              class="text-base"
              [innerHTML]="
                'quickstart.anonymous_api_key'
                  | transloco
                    : {
                        anonymousApiKey: '<b>0000000000</b> (10 zeros)',
                      }
              "
            ></span>
          </li>
          <li class="flex space-x-3">
            <inline-svg
              href="assets/img/li-checkbox.svg"
              class="icon-sm"
            />
            <span
              class="text-base"
              [innerHTML]="
                'quickstart.explanation_api_key'
                  | transloco
                    : {
                        kudosExplanationLink:
                          '<a href=&quot;https://dbzer0.com/blog/the-kudos-based-economy-for-the-koboldai-horde/&quot; target=&quot;_blank&quot;>' +
                          ('quickstart.explanation_api_key.kudosExplanationLink'
                            | transloco) +
                          '</a>',
                      }
              "
            >
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
