<section class="bg-gray-50 dark:bg-gray-800">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6">
    <div class="items-center gap-8 lg:grid xl:gap-16">
      <div class="text-gray-500 sm:text-lg dark:text-gray-400">
        <h2
          class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          {{ "quickstart" | transloco }}
        </h2>

        <p
          class="mb-4"
          [innerHTML]="'quickstart.register_account' | transloco"
        ></p>
        <ul class="space-y-2 underline-links">
          <li class="flex space-x-3">
            <inline-svg
              href="assets/img/li-checkbox.svg"
              class="flex-shrink-0 w-4 h-4 mt-0.5"
            />
            <span
              class="text-base"
              [innerHTML]="
                'quickstart.anonymous_api_key'
                  | transloco
                    : {
                        anonymousApiKey: '<b>0000000000</b> (10 zeros)',
                      }
              "
            ></span>
          </li>
          <li class="flex space-x-3">
            <inline-svg
              href="assets/img/li-checkbox.svg"
              class="flex-shrink-0 w-4 h-4 mt-0.5"
            />
            <span
              class="text-base"
              [innerHTML]="
                'quickstart.explanation_api_key'
                  | transloco
                    : {
                        kudosExplanationLink:
                          '<a href=&quot;https://dbzer0.com/blog/the-kudos-based-economy-for-the-koboldai-horde/&quot; target=&quot;_blank&quot;>' +
                          ('quickstart.explanation_api_key.kudosExplanationLink'
                            | transloco) +
                          '</a>',
                      }
              "
            >
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
