@use "sass:color";
@use "styles/additional_pieces";
@use "styles/landwind";
@use "styles/colors";

h3,
p,
.underline-links {
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: color.adjust(colors.$lightTextColor, $lightness: -30%);
    }
  }
}

.dark {
  h3,
  p,
  .underline-links {
    a:hover {
      color: color.adjust(colors.$darkTextColor, $lightness: 30%);
    }
  }

  .dark\:fill-white {
    fill: white;
  }
}

#mobile-menu-2 {
  margin-left: auto;
  margin-right: 0;
}

.built-with a {
  color: colors.$purpleTextColor600;

  &:hover {
    text-decoration: underline;
  }
}

.dark {
  .built-with a {
    color: colors.$purpleTextColor500;
  }
}

// The terms are dynamically loaded and due to encapsulation, we need to use the global styles
.terms {
  ul {
    list-style-type: disc;
    padding-left: 40px;
  }

  h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
    border-bottom: 3px solid #a0a0a0;
    display: inline-block;
  }

  h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    font-size: 1em;
    margin-bottom: 10px;
  }

  strong {
    font-weight: bold;
  }

  .last_updated {
    font-style: italic;
  }

  .important {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.bg-gray-600 {
  background-color: colors.$bgGray600;
}

.text-red {
  color: red;
}
