<section class="section-primary">
  <div
    class="container-page-header"
  >
    <div class="place-center">
      <h1
        class="heading-hero"
      >
        {{ "frequently_asked_questions" | transloco }}
      </h1>
    </div>
  </div>
</section>

@if (faq()) {
  <section class="section-secondary">
    <div class="container-content">
      <div class="max-w-screen-xl mx-auto">
        <div
          data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
          data-inactive-classes="text-gray-500 dark:text-gray-400"
        >
          @for (
            sectionItemPair of faq()! | keyvalue: NoSorterKeyValue;
            track sectionItemPair
          ) {
            @if (sectionItemPair.key !== "") {
              <h2
                class="mt-12 heading-section text-center"
              >
                {{ sectionItemPair.key }}
              </h2>
              <!-- todo make translatable -->
            }

            @for (faqItem of sectionItemPair.value; track faqItem.question) {
              <h3>
                <button
                  type="button"
                  [class.text-gray-500]="selectedFaq() !== faqItem.question"
                  [class.dark:text-gray-400]="
                    selectedFaq() !== faqItem.question
                  "
                  [class.text-gray-900]="selectedFaq() === faqItem.question"
                  [class.dark:text-white]="selectedFaq() === faqItem.question"
                  [class.font-bold]="selectedFaq() === faqItem.question"
                  class="faq-button"
                  (click)="
                    selectedFaq.set(
                      selectedFaq() === faqItem.question
                        ? null
                        : faqItem.question
                    )
                  "
                >
                  <span>{{ faqItem.question }}</span>
                  <inline-svg
                    href="assets/img/faq-closed.svg"
                    [class.rotate-180]="selectedFaq() === faqItem.question"
                  />
                </button>
              </h3>
              <div [class.hidden]="selectedFaq() !== faqItem.question">
                <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                  <div [innerHTML]="faqItem.answer"></div>
                  <!--                  <p class="mb-2 text-gray-500 dark:text-gray-400" [innerHTML]="faqItem.answer"></p>-->
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
  </section>
}
