:host ::ng-deep .faq-answer p,
:host ::ng-deep .faq-answer ul {
  margin-bottom: 0.5rem;
  color: var(--light-text-color);
  margin-top: 0.2rem;
}

:host ::ng-deep .faq-answer li {
  list-style-type: disc;
  margin-left: 18px;
  padding-left: 18px;
  margin-bottom: 0.5rem;
}

:host ::ng-deep .faq-answer a {
  text-decoration: underline;
}

:host ::ng-deep .faq-answer a:hover {
  text-decoration: none;
  color: rgb(80, 87, 101);
}

.dark :host ::ng-deep .faq-answer p,
.dark :host ::ng-deep .faq-answer ul {
  color: var(--dark-text-color);
}

.dark :host ::ng-deep .faq-answer a:hover {
  color: rgb(203, 207, 211);
}
