<div
  class="card"
  [class.card-bg-primary]="!darkBackground()"
  [class.card-bg-secondary]="darkBackground()"
>
  <h3 class="mb-4 text-2xl font-semibold">{{ name() }}</h3>
  <p class="text-secondary-lg description">
    {{ description() }}
  </p>
  <div class="flex items-baseline justify-center my-8">
    <img
      [ngSrc]="image()"
      [width]="330"
      [height]="185"
      [alt]="'guis.gui_image_alt' | transloco: { guiName: name() }"
    />
  </div>

  <a
    href="{{ link() }}"
    target="_blank"
    class="btn-purple"
  >
    @if (goToLinkName()) {
      {{ goToLinkName() }}
    } @else {
      {{ "guis.go_to" | transloco: { guiName: name() } }}
    }
  </a>
</div>
